<div class="row" id="authentication-form-wrapper">
  <div class="col -xs-12 -sm-10 -md-8 -lg-6">
    <form class="form" action="<%= @root %>/signin" method="POST" data-toggle="validator">

      <div class="form-header">
        <h2>Reset Your Password</h2>
        <p>
          Please enter your email. We will send you a password reset link.
        </p>
      </div>

      <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email" required>
      </div>

      <button class="btn -dark -block -wide" type="submit" name="submit">Reset</button>

    </form>
  </div>
</div>
