<div class="row" id="authentication-form-wrapper">
  <div class="col -xs-12 -sm-10 -md-8 -lg-6">
    <form class="form" action="<%= @root %>/signin" method="POST" data-toggle="validator">

      <div class="form-header">
        <h2>Sign Up</h2>
        <p>
          Please enter your sign up credentials.
        </p>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="Full Name" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password" id="password" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password-confirmation" placeholder="Password Confirmation" data-match="#password" required>
      </div>

      <button class="btn -dark -block -wide" type="submit" name="submit">Sign Up</button>

      <div class="form-switch-link">
        <a href="<%= @root %>/signin">I already have an account. Sign me in!</a>
      </div>

    </form>
  </div>
</div>
