<div class="row" id="authentication-form-wrapper">
  <div class="col -xs-12 -sm-10 -md-8 -lg-6">
    <form class="form" role="form" action="<%= @root %>/signin" method="POST" data-toggle="validator">

      <div class="form-header">
        <h2>Sign In</h2>
        <p>
          Please enter your account credentials.
        </p>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Username" required data-validator="true">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password" required>
      </div>

      <div class="form-group">
        <a href="<%= @root %>/forgot-password" class="form-side-link">Forgot Password?</a>
        <div class="form-check -checkbox">
          <input type="checkbox" name="remember-me" id="remember-me-input">
          <label for="remember-me-input">Keep me signed in</label>
        </div>
      </div>

      <button class="btn -dark -block -wide" type="submit" name="submit">Sign In</button>

      <div class="form-switch-link">
        <a href="<%= @root %>/signup">I don't have an account. Sign me up!</a>
      </div>

    </form>
  </div>
</div>
