<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title><%= page_title %></title>

    <meta name="description" content="Simple web application for Visma's technical interview.">
    <meta name="keywords" content="Visma, pixevil, Alex Grozav">
    <meta name="author" content="Alex Grozav">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">

    <link href="<%= @root %>/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="<%= @root %>/css/font-awesome-icons/font-awesome-icons.css" rel="stylesheet" type="text/css">
    <link href="<%= @root %>/css/pixeden-stroke-icons/pixeden-stroke-icons.css" rel="stylesheet" type="text/css">
    <link href="<%= @root %>/css/application/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= erb :'components/navbar' %>
    <%= yield %>

    <script src="<%= @root %>/js/jquery/jquery.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/animus/animus.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/reveal/reveal.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/gsap/tweenlite.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/gsap/plugins/css.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/gsap/easing/easepack.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/validator/validator.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/theme/base.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/theme/theme.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/components/morph-dropdown.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/components/navbar.js" type="text/javascript"></script>
    <script src="<%= @root %>/js/application/application.js" type="text/javascript"></script>
    <% scripts.each do |script| %>
      <script src="<%= @root %>/js/<%= script %>.js" type="text/javascript"></script>
    <% end %>
  </body>
</html>
