<!-- Navbar -->
<nav class="navbar -dark -fixed-top">
  <div class="navbar-wrapper">

    <!-- Navbar Brand -->
    <a class="navbar-brand" href="<%= @root %>/">
      <img src="<%= @root %>/img/logo/logo-text.png" alt="Visma">
    </a>
    <!-- /Navbar Brand -->

    <% if session[:authenticated] %>
      <!-- Navbar Nav -->
      <div class="navbar-nav -right">
        <a class="morph-dropdown-hamburger" href="#"></a>
      </div>
      <ul class="navbar-nav -right">
        <li>
          <a class="has-morph-dropdown" href="#notifications-dropdown"><i class="pe pe-bell"></i> <span class="navbar-item-count">2</span></a>
        </li>
        <li>
          <a class="has-morph-dropdown" href="#applications-dropdown"><i class="pe pe-keypad"></i></a>
        </li>
        <li class="navbar-profile">
          <a class="has-morph-dropdown" href="#profile-dropdown">
           <img src="<%= @root %>/img/user.jpg"></a>
        </li>
      </ul>
      <!-- /Navbar Nav -->

      <div class="morph-dropdown-wrapper -dark -right">
        <div class="morph-dropdown-list -links">
          <div class="morph-dropdown" id="notifications-dropdown">
            <div class="morph-content">
              <h3>Notifications</h3>
              <p class="_text-muted">Here&#39;s what happened while you were away.</p>
              <ul class="morph-links -small">
                <li>
                  <a href="#">
                  <!-- Image -->
                   <img src="<%= @root %>/img/users/male3.jpg"> <strong>John Doe</strong> has reviewed your Visma submission. <small>Just Now</small></a>
                </li>
                <li>
                  <a href="#">
                  <!-- Image -->
                   <img src="<%= @root %>/img/users/female1.jpg"> <strong>Gabriella Cruz</strong> has invited you to her event. <small>12 Hours Ago</small></a>
                </li>
                <li>
                  <a href="#">
                  <!-- Image -->
                   <img src="<%= @root %>/img/users/female2.jpg"> <strong>Sofia Owens</strong> has started following you. <small>1 Day Ago</small></a>
                </li>
              </ul>
              <div class="_margin-top-1x">
                <a class="btn -primary -block">View All Notifications</a>
              </div>
            </div>
          </div>
          <div class="morph-dropdown" id="applications-dropdown">
            <div class="morph-content -gallery">
              <h3>Applications</h3>
              <p class="_text-muted">Open one of your connected social applications.</p>
              <ul class="morph-gallery">
                <li>
                  <a href="https://facebook.com/pixevil" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
                </li>
                <li>
                  <a href="<%= @root %>/twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                <li>
                  <a href="https://plus.google.com/+pixevil" target="_blank"><i class="fa fa-google-plus"></i> Google Plus</a>
                </li>
                <li>
                  <a href="https://linkedin.com/company/pixevil" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
                </li>
                <li>
                  <a href="https://github.com/pixevil" target="_blank"><i class="fa fa-github"></i> GitHub</a>
                </li>
                <li>
                  <a href="https://bitbucket.org" target="_blank" rel="nofollow"><i class="fa fa-bitbucket"></i> BitBucket</a>
                </li>
                <li>
                  <a href="https://slack.com/" target="_blank" rel="nofollow"><i class="fa fa-slack"></i> Slack</a>
                </li>
                <li>
                  <a href="https://dropbox.com/" target="_blank" rel="nofollow"><i class="fa fa-dropbox"></i> DropBox</a>
                </li>
              </ul>
              <div class="_margin-top-1x">
                <a class="btn -primary -block">View All Applications</a>
              </div>
            </div>
          </div>

          <div class="morph-dropdown" id="profile-dropdown">
            <div class="morph-content -links">
              <h3>Account</h3>
              <p class="_text-muted">View and update your account.</p>
              <ul class="morph-links">
                <li>
                  <a href="#">My Profile</a>
                </li>
                <li>
                  <a href="#">Account Settings</a>
                </li>
              </ul>
              <div class="_margin-top-1x">
                <a class="btn -primary -block" href="<%= @root %>/signout">Sign Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</nav>
<!-- /Navbar -->
