<div class="background-changer"></div>

<div class="container applications-wrapper">

  <div class="row">
    <!-- Application -->
    <div class="col -xs-12 -sm-6 -md-3">
      <a class="application" data-application="facebook" href="https://facebook.com/pixevil">
        <img class="application-image" src="<%= @root %>/img/brands/facebook.png" alt="Fwitter">
        <div class="application-title">
          Facebook
        </div>
      </a>
    </div>
    <!-- /Application -->

    <!-- Application -->
    <div class="col -xs-12 -sm-6 -md-3">
      <a class="application" data-application="twitter" href="<%= @root %>/twitter">
        <img class="application-image" src="<%= @root %>/img/brands/twitter.png" alt="Twitter">
        <div class="application-title">
          Twitter
        </div>
      </a>
    </div>
    <!-- /Application -->

    <!-- Application -->
    <div class="col -xs-12 -sm-6 -md-3">
      <a class="application" data-application="google-plus" href="https://google.com/+pixevil">
        <img class="application-image" src="<%= @root %>/img/brands/google-plus.png" alt="Google Plus">
        <div class="application-title">
          Google Plus
        </div>
      </a>
    </div>
    <!-- /Application -->

    <!-- Application -->
    <div class="col -xs-12 -sm-6 -md-3">
      <a class="application" data-application="github" href="https://github.com/pixevil">
        <img class="application-image" src="<%= @root %>/img/brands/github.png" alt="github">
        <div class="application-title">
          GitHub
        </div>
      </a>
    </div>
    <!-- /Application -->
  </div>

  <div class="row">
    <!-- Application -->
    <div class="col -xs-12 -sm-6 -md-3">
      <a class="application" data-application="tumblr" href="#">
        <img class="application-image" src="<%= @root %>/img/brands/tumblr.png" alt="Tumblr">
        <div class="application-title">
          Tumblr
        </div>
      </a>
    </div>
    <!-- /Application -->

    <!-- Application -->
    <div class="col -xs-12 -sm-6 -md-3">
      <a class="application" data-application="envato" href="https://codecanyon.net/user/pixevil">
        <img class="application-image" src="<%= @root %>/img/brands/envato.png" alt="Envato">
        <div class="application-title">
          Envato
        </div>
      </a>
    </div>
    <!-- /Application -->

    <!-- Application -->
    <div class="col -xs-12 -sm-6 -md-3">
      <a class="application" data-application="behance" href="#">
        <img class="application-image" src="<%= @root %>/img/brands/behance.png" alt="Behance">
        <div class="application-title">
          Behance
        </div>
      </a>
    </div>
    <!-- /Application -->

    <!-- Application -->
    <div class="col -xs-12 -sm-6 -md-3">
      <a class="application" data-application="dribbble" href="#">
        <img class="application-image" src="<%= @root %>/img/brands/dribbble.png" alt="Dribbble">
        <div class="application-title">
          Dribbble
        </div>
      </a>
    </div>
    <!-- /Application -->
  </div>

</div>
