<div class="background-changer -twitter-dark"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col -xs-12">
      <div class="page-header">
        <h1><i class="fa fa-twitter"></i></h1>
      </div>
      <div class="twitter-feed" data-url="<%= @root %>/api/v1/twitter"></div>
    </div>
  </div>
</div>
