<div class="row" id="error-page-wrapper">
  <div class="col -xs-12">
    <div class="error-section">
      <h1 class="error-title">Error 404</h1>
      <p class="error-description">
        Looks like the page does not exist.
      </p>
    </div>
  </div>
</div>
