<div class="row" id="error-page-wrapper">
  <div class="col -xs-12">
    <div class="error-section">
      <h1 class="error-title">Error 500</h1>
      <p class="error-description">
        There was an internal server error.
      </p>
    </div>
  </div>
</div>
