@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/proxima-nova/ProximaNova-Extrabld.eot");
  src: url("../../fonts/proxima-nova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima-nova/ProximaNova-Extrabld.woff2") format("woff2"), url("../../fonts/proxima-nova/ProximaNova-Extrabld.woff") format("woff"), url("../../fonts/proxima-nova/ProximaNova-Extrabld.ttf") format("truetype"), url("../../fonts/proxima-nova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/proxima-nova/ProximaNova-Semibold.eot");
  src: url("../../fonts/proxima-nova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima-nova/ProximaNova-Semibold.woff2") format("woff2"), url("../../fonts/proxima-nova/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/proxima-nova/ProximaNova-Semibold.ttf") format("truetype"), url("../../fonts/proxima-nova/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/proxima-nova/ProximaNova-Bold.eot");
  src: url("../../fonts/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima-nova/ProximaNova-Bold.woff2") format("woff2"), url("../../fonts/proxima-nova/ProximaNova-Bold.woff") format("woff"), url("../../fonts/proxima-nova/ProximaNova-Bold.ttf") format("truetype"), url("../../fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/proxima-nova/ProximaNova-Regular.eot");
  src: url("../../fonts/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima-nova/ProximaNova-Regular.woff2") format("woff2"), url("../../fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("../../fonts/proxima-nova/ProximaNova-Regular.ttf") format("truetype"), url("../../fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/proxima-nova/ProximaNova-Light.eot");
  src: url("../../fonts/proxima-nova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima-nova/ProximaNova-Light.woff2") format("woff2"), url("../../fonts/proxima-nova/ProximaNova-Light.woff") format("woff"), url("../../fonts/proxima-nova/ProximaNova-Light.ttf") format("truetype"), url("../../fonts/proxima-nova/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/proxima-nova/ProximaNova-Thin.eot");
  src: url("../../fonts/proxima-nova/ProximaNova-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/proxima-nova/ProximaNova-Thin.woff2") format("woff2"), url("../../fonts/proxima-nova/ProximaNova-Thin.woff") format("woff"), url("../../fonts/proxima-nova/ProximaNova-Thin.ttf") format("truetype"), url("../../fonts/proxima-nova/ProximaNova-Thin.svg#ProximaNova-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}
.font-proxima-nova {
  font-family: 'Proxima Nova';
}
._primary {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #e81943;
}
._text-primary {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #e81943;
}
._hover-primary:hover {
  background: #e81943;
}
._secondary {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #1c0a0e;
}
._text-secondary {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #1c0a0e;
}
._hover-secondary:hover {
  background: #1c0a0e;
}
._aqua {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #7fdfff;
}
._text-aqua {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #7fdfff;
}
._hover-aqua:hover {
  background: #7fdfff;
}
._blue {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #0074d9;
}
._text-blue {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #0074d9;
}
._hover-blue:hover {
  background: #0074d9;
}
._navy {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #001f3f;
}
._text-navy {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #001f3f;
}
._hover-navy:hover {
  background: #001f3f;
}
._teal {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #39cccc;
}
._text-teal {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #39cccc;
}
._hover-teal:hover {
  background: #39cccc;
}
._green {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #2ecc40;
}
._text-green {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #2ecc40;
}
._hover-green:hover {
  background: #2ecc40;
}
._olive {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #3d9970;
}
._text-olive {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #3d9970;
}
._hover-olive:hover {
  background: #3d9970;
}
._lime {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #01ff70;
}
._text-lime {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #01ff70;
}
._hover-lime:hover {
  background: #01ff70;
}
._yellow {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #ffdc00;
}
._text-yellow {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #ffdc00;
}
._hover-yellow:hover {
  background: #ffdc00;
}
._orange {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #ff851b;
}
._text-orange {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #ff851b;
}
._hover-orange:hover {
  background: #ff851b;
}
._red {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #ff4136;
}
._text-red {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #ff4136;
}
._hover-red:hover {
  background: #ff4136;
}
._fuchsia {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #f012be;
}
._text-fuchsia {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #f012be;
}
._hover-fuchsia:hover {
  background: #f012be;
}
._purple {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #b10dc9;
}
._text-purple {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #b10dc9;
}
._hover-purple:hover {
  background: #b10dc9;
}
._maroon {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #85144b;
}
._text-maroon {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #85144b;
}
._hover-maroon:hover {
  background: #85144b;
}
._white {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #fff;
}
._text-white {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #fff;
}
._hover-white:hover {
  background: #fff;
}
._silver {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #f2f2f2;
}
._text-silver {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #f2f2f2;
}
._hover-silver:hover {
  background: #f2f2f2;
}
._darksilver {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #d1d1d1;
}
._text-darksilver {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #d1d1d1;
}
._hover-darksilver:hover {
  background: #d1d1d1;
}
._gray {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #aaa;
}
._text-gray {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #aaa;
}
._hover-gray:hover {
  background: #aaa;
}
._lightgray {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #ccc;
}
._text-lightgray {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #ccc;
}
._hover-lightgray:hover {
  background: #ccc;
}
._concrete {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #1d1d1e;
}
._text-concrete {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #1d1d1e;
}
._hover-concrete:hover {
  background: #1d1d1e;
}
._asphalt {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #3b3b3b;
}
._text-asphalt {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #3b3b3b;
}
._hover-asphalt:hover {
  background: #3b3b3b;
}
._black {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #111;
}
._text-black {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #111;
}
._hover-black:hover {
  background: #111;
}
._primary {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #e81943;
}
._text-primary {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #e81943;
}
._hover-primary:hover {
  background: #e81943;
}
._secondary {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #1c0a0e;
}
._text-secondary {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #1c0a0e;
}
._hover-secondary:hover {
  background: #1c0a0e;
}
._success {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #3d9970;
}
._text-success {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #3d9970;
}
._hover-success:hover {
  background: #3d9970;
}
._danger {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #ff4136;
}
._text-danger {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #ff4136;
}
._hover-danger:hover {
  background: #ff4136;
}
._warning {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #ff851b;
}
._text-warning {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #ff851b;
}
._hover-warning:hover {
  background: #ff851b;
}
._info {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: #0074d9;
}
._text-info {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #0074d9;
}
._hover-info:hover {
  background: #0074d9;
}
._margin-1x {
  margin: 1rem;
}
._margin-vertical-1x {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
._margin-top-1x {
  margin-top: 1rem;
}
._margin-bottom-1x {
  margin-bottom: 1rem;
}
._margin-horizontal-1x {
  margin-left: 1rem;
  margin-right: 1rem;
}
._margin-left-1x {
  margin-left: 1rem;
}
._margin-right-1x {
  margin-right: 1rem;
}
._padding-1x {
  padding: 1rem;
}
._padding-vertical-1x {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
._padding-top-1x {
  padding-top: 1rem;
}
._padding-bottom-1x {
  padding-bottom: 1rem;
}
._padding-horizontal-1x {
  padding-left: 1rem;
  padding-right: 1rem;
}
._padding-left-1x {
  padding-left: 1rem;
}
._padding-right-1x {
  padding-right: 1rem;
}
._margin-2x {
  margin: 2rem;
}
._margin-vertical-2x {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
._margin-top-2x {
  margin-top: 2rem;
}
._margin-bottom-2x {
  margin-bottom: 2rem;
}
._margin-horizontal-2x {
  margin-left: 2rem;
  margin-right: 2rem;
}
._margin-left-2x {
  margin-left: 2rem;
}
._margin-right-2x {
  margin-right: 2rem;
}
._padding-2x {
  padding: 2rem;
}
._padding-vertical-2x {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
._padding-top-2x {
  padding-top: 2rem;
}
._padding-bottom-2x {
  padding-bottom: 2rem;
}
._padding-horizontal-2x {
  padding-left: 2rem;
  padding-right: 2rem;
}
._padding-left-2x {
  padding-left: 2rem;
}
._padding-right-2x {
  padding-right: 2rem;
}
._margin-3x {
  margin: 3rem;
}
._margin-vertical-3x {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
._margin-top-3x {
  margin-top: 3rem;
}
._margin-bottom-3x {
  margin-bottom: 3rem;
}
._margin-horizontal-3x {
  margin-left: 3rem;
  margin-right: 3rem;
}
._margin-left-3x {
  margin-left: 3rem;
}
._margin-right-3x {
  margin-right: 3rem;
}
._padding-3x {
  padding: 3rem;
}
._padding-vertical-3x {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
._padding-top-3x {
  padding-top: 3rem;
}
._padding-bottom-3x {
  padding-bottom: 3rem;
}
._padding-horizontal-3x {
  padding-left: 3rem;
  padding-right: 3rem;
}
._padding-left-3x {
  padding-left: 3rem;
}
._padding-right-3x {
  padding-right: 3rem;
}
._margin-4x {
  margin: 4rem;
}
._margin-vertical-4x {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
._margin-top-4x {
  margin-top: 4rem;
}
._margin-bottom-4x {
  margin-bottom: 4rem;
}
._margin-horizontal-4x {
  margin-left: 4rem;
  margin-right: 4rem;
}
._margin-left-4x {
  margin-left: 4rem;
}
._margin-right-4x {
  margin-right: 4rem;
}
._padding-4x {
  padding: 4rem;
}
._padding-vertical-4x {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
._padding-top-4x {
  padding-top: 4rem;
}
._padding-bottom-4x {
  padding-bottom: 4rem;
}
._padding-horizontal-4x {
  padding-left: 4rem;
  padding-right: 4rem;
}
._padding-left-4x {
  padding-left: 4rem;
}
._padding-right-4x {
  padding-right: 4rem;
}
._margin-5x {
  margin: 5rem;
}
._margin-vertical-5x {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
._margin-top-5x {
  margin-top: 5rem;
}
._margin-bottom-5x {
  margin-bottom: 5rem;
}
._margin-horizontal-5x {
  margin-left: 5rem;
  margin-right: 5rem;
}
._margin-left-5x {
  margin-left: 5rem;
}
._margin-right-5x {
  margin-right: 5rem;
}
._padding-5x {
  padding: 5rem;
}
._padding-vertical-5x {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
._padding-top-5x {
  padding-top: 5rem;
}
._padding-bottom-5x {
  padding-bottom: 5rem;
}
._padding-horizontal-5x {
  padding-left: 5rem;
  padding-right: 5rem;
}
._padding-left-5x {
  padding-left: 5rem;
}
._padding-right-5x {
  padding-right: 5rem;
}
._margin-6x {
  margin: 6rem;
}
._margin-vertical-6x {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
._margin-top-6x {
  margin-top: 6rem;
}
._margin-bottom-6x {
  margin-bottom: 6rem;
}
._margin-horizontal-6x {
  margin-left: 6rem;
  margin-right: 6rem;
}
._margin-left-6x {
  margin-left: 6rem;
}
._margin-right-6x {
  margin-right: 6rem;
}
._padding-6x {
  padding: 6rem;
}
._padding-vertical-6x {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
._padding-top-6x {
  padding-top: 6rem;
}
._padding-bottom-6x {
  padding-bottom: 6rem;
}
._padding-horizontal-6x {
  padding-left: 6rem;
  padding-right: 6rem;
}
._padding-left-6x {
  padding-left: 6rem;
}
._padding-right-6x {
  padding-right: 6rem;
}
._margin-7x {
  margin: 7rem;
}
._margin-vertical-7x {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
._margin-top-7x {
  margin-top: 7rem;
}
._margin-bottom-7x {
  margin-bottom: 7rem;
}
._margin-horizontal-7x {
  margin-left: 7rem;
  margin-right: 7rem;
}
._margin-left-7x {
  margin-left: 7rem;
}
._margin-right-7x {
  margin-right: 7rem;
}
._padding-7x {
  padding: 7rem;
}
._padding-vertical-7x {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
._padding-top-7x {
  padding-top: 7rem;
}
._padding-bottom-7x {
  padding-bottom: 7rem;
}
._padding-horizontal-7x {
  padding-left: 7rem;
  padding-right: 7rem;
}
._padding-left-7x {
  padding-left: 7rem;
}
._padding-right-7x {
  padding-right: 7rem;
}
._margin-8x {
  margin: 8rem;
}
._margin-vertical-8x {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
._margin-top-8x {
  margin-top: 8rem;
}
._margin-bottom-8x {
  margin-bottom: 8rem;
}
._margin-horizontal-8x {
  margin-left: 8rem;
  margin-right: 8rem;
}
._margin-left-8x {
  margin-left: 8rem;
}
._margin-right-8x {
  margin-right: 8rem;
}
._padding-8x {
  padding: 8rem;
}
._padding-vertical-8x {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
._padding-top-8x {
  padding-top: 8rem;
}
._padding-bottom-8x {
  padding-bottom: 8rem;
}
._padding-horizontal-8x {
  padding-left: 8rem;
  padding-right: 8rem;
}
._padding-left-8x {
  padding-left: 8rem;
}
._padding-right-8x {
  padding-right: 8rem;
}
._margin-9x {
  margin: 9rem;
}
._margin-vertical-9x {
  margin-top: 9rem;
  margin-bottom: 9rem;
}
._margin-top-9x {
  margin-top: 9rem;
}
._margin-bottom-9x {
  margin-bottom: 9rem;
}
._margin-horizontal-9x {
  margin-left: 9rem;
  margin-right: 9rem;
}
._margin-left-9x {
  margin-left: 9rem;
}
._margin-right-9x {
  margin-right: 9rem;
}
._padding-9x {
  padding: 9rem;
}
._padding-vertical-9x {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
._padding-top-9x {
  padding-top: 9rem;
}
._padding-bottom-9x {
  padding-bottom: 9rem;
}
._padding-horizontal-9x {
  padding-left: 9rem;
  padding-right: 9rem;
}
._padding-left-9x {
  padding-left: 9rem;
}
._padding-right-9x {
  padding-right: 9rem;
}
._margin-10x {
  margin: 10rem;
}
._margin-vertical-10x {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
._margin-top-10x {
  margin-top: 10rem;
}
._margin-bottom-10x {
  margin-bottom: 10rem;
}
._margin-horizontal-10x {
  margin-left: 10rem;
  margin-right: 10rem;
}
._margin-left-10x {
  margin-left: 10rem;
}
._margin-right-10x {
  margin-right: 10rem;
}
._padding-10x {
  padding: 10rem;
}
._padding-vertical-10x {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
._padding-top-10x {
  padding-top: 10rem;
}
._padding-bottom-10x {
  padding-bottom: 10rem;
}
._padding-horizontal-10x {
  padding-left: 10rem;
  padding-right: 10rem;
}
._padding-left-10x {
  padding-left: 10rem;
}
._padding-right-10x {
  padding-right: 10rem;
}
._margin-sm {
  margin: 0.5rem;
}
._margin-vertical-sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
._margin-top-sm {
  margin-top: 0.5rem;
}
._margin-bottom-sm {
  margin-bottom: 0.5rem;
}
._margin-horizontal-sm {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
._margin-left-sm {
  margin-left: 0.5rem;
}
._margin-right-sm {
  margin-right: 0.5rem;
}
._padding-sm {
  padding: 0.5rem;
}
._padding-vertical-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
._padding-top-sm {
  padding-top: 0.5rem;
}
._padding-bottom-sm {
  padding-bottom: 0.5rem;
}
._padding-horizontal-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
._padding-left-sm {
  padding-left: 0.5rem;
}
._padding-right-sm {
  padding-right: 0.5rem;
}
._margin-none {
  margin: 0 !important;
}
._margin-left-none {
  margin-left: 0 !important;
}
._margin-right-none {
  margin-right: 0 !important;
}
._margin-top-none {
  margin-top: 0 !important;
}
._margin-bottom-none {
  margin-bottom: 0 !important;
}
._padding-none {
  padding: 0 !important;
}
._padding-left-none {
  padding-left: 0 !important;
}
._padding-right-none {
  padding-right: 0 !important;
}
._padding-top-none {
  padding-top: 0 !important;
}
._padding-bottom-none {
  padding-bottom: 0 !important;
}
._full-width {
  width: 100% !important;
  box-sizing: border-box;
}
img._full-width {
  height: auto;
}
._max-full-width {
  max-width: 100% !important;
  box-sizing: border-box;
}
._full-height {
  height: 100% !important;
  box-sizing: border-box;
}
img._full-height {
  width: auto;
}
._max-full-height {
  max-height: 100% !important;
  box-sizing: border-box;
}
._hidden {
  display: none;
}
body {
  background-color: #e81943;
  background-image: -webkit-linear-gradient(bottom, #e81943, #1c0a0e);
  background-image: linear-gradient(to top, #e81943, #1c0a0e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.background-changer {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.background-changer.-facebook {
  background-image: -webkit-linear-gradient(top, #111, #3b5998);
  background-image: linear-gradient(to bottom, #111, #3b5998);
}
.background-changer.-facebook-dark {
  background-image: -webkit-linear-gradient(top, #111, #2f477a);
  background-image: linear-gradient(to bottom, #111, #2f477a);
}
.background-changer.-twitter {
  background-image: -webkit-linear-gradient(top, #111, #1da1f2);
  background-image: linear-gradient(to bottom, #111, #1da1f2);
}
.background-changer.-twitter-dark {
  background-image: -webkit-linear-gradient(top, #111, #0c84cd);
  background-image: linear-gradient(to bottom, #111, #0c84cd);
}
.background-changer.-google-plus {
  background-image: -webkit-linear-gradient(top, #111, #dd4b39);
  background-image: linear-gradient(to bottom, #111, #dd4b39);
}
.background-changer.-google-plus-dark {
  background-image: -webkit-linear-gradient(top, #111, #be3221);
  background-image: linear-gradient(to bottom, #111, #be3221);
}
.background-changer.-dribbble {
  background-image: -webkit-linear-gradient(top, #111, #ea4c89);
  background-image: linear-gradient(to bottom, #111, #ea4c89);
}
.background-changer.-dribbble-dark {
  background-image: -webkit-linear-gradient(top, #111, #de1a66);
  background-image: linear-gradient(to bottom, #111, #de1a66);
}
.background-changer.-behance {
  background-image: -webkit-linear-gradient(top, #111, #1769ff);
  background-image: linear-gradient(to bottom, #111, #1769ff);
}
.background-changer.-behance-dark {
  background-image: -webkit-linear-gradient(top, #111, #004fde);
  background-image: linear-gradient(to bottom, #111, #004fde);
}
.background-changer.-flickr {
  background-image: -webkit-linear-gradient(top, #111, #ff0084);
  background-image: linear-gradient(to bottom, #111, #ff0084);
}
.background-changer.-flickr-dark {
  background-image: -webkit-linear-gradient(top, #111, #cc006a);
  background-image: linear-gradient(to bottom, #111, #cc006a);
}
.background-changer.-linkedin {
  background-image: -webkit-linear-gradient(top, #111, #0077b5);
  background-image: linear-gradient(to bottom, #111, #0077b5);
}
.background-changer.-linkedin-dark {
  background-image: -webkit-linear-gradient(top, #111, #005f91);
  background-image: linear-gradient(to bottom, #111, #005f91);
}
.background-changer.-youtube {
  background-image: -webkit-linear-gradient(top, #111, #cd201f);
  background-image: linear-gradient(to bottom, #111, #cd201f);
}
.background-changer.-youtube-dark {
  background-image: -webkit-linear-gradient(top, #111, #a41a19);
  background-image: linear-gradient(to bottom, #111, #a41a19);
}
.background-changer.-pinterest {
  background-image: -webkit-linear-gradient(top, #111, #bd081c);
  background-image: linear-gradient(to bottom, #111, #bd081c);
}
.background-changer.-pinterest-dark {
  background-image: -webkit-linear-gradient(top, #111, #970616);
  background-image: linear-gradient(to bottom, #111, #970616);
}
.background-changer.-github {
  background-image: -webkit-linear-gradient(top, #111, #333);
  background-image: linear-gradient(to bottom, #111, #333);
}
.background-changer.-github-dark {
  background-image: -webkit-linear-gradient(top, #111, #292929);
  background-image: linear-gradient(to bottom, #111, #292929);
}
.background-changer.-tumblr {
  background-image: -webkit-linear-gradient(top, #111, #35465c);
  background-image: linear-gradient(to bottom, #111, #35465c);
}
.background-changer.-tumblr-dark {
  background-image: -webkit-linear-gradient(top, #111, #2a384a);
  background-image: linear-gradient(to bottom, #111, #2a384a);
}
.background-changer.-twitch {
  background-image: -webkit-linear-gradient(top, #111, #6441a5);
  background-image: linear-gradient(to bottom, #111, #6441a5);
}
.background-changer.-twitch-dark {
  background-image: -webkit-linear-gradient(top, #111, #503484);
  background-image: linear-gradient(to bottom, #111, #503484);
}
.background-changer.-envato {
  background-image: -webkit-linear-gradient(top, #111, #82b541);
  background-image: linear-gradient(to bottom, #111, #82b541);
}
.background-changer.-envato-dark {
  background-image: -webkit-linear-gradient(top, #111, #689134);
  background-image: linear-gradient(to bottom, #111, #689134);
}
.pe {
  display: inline-block;
}
.pe.-rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pe.-rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pe.-rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
#error-page-wrapper,
#authentication-form-wrapper {
  height: 100vh;
  display: block;
  position: relative;
  padding-top: 70px;
  box-sizing: border-box;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
#error-page-wrapper > .col,
#authentication-form-wrapper > .col {
  margin: 0 auto;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
}
@media screen and (max-height: 420px) {
  #error-page-wrapper,
  #authentication-form-wrapper {
    height: auto;
  }
  #error-page-wrapper > .col,
  #authentication-form-wrapper > .col {
    position: relative;
    padding-top: 86px;
    top: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
  }
}
.reveal,
.application,
.form,
.tweet {
  visibility: hidden;
}
.navbar-profile img {
  margin-top: -10px;
}
body {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
._text-primary {
  color: #e81943;
}
._text-secondary {
  color: #1c0a0e;
}
._text-aqua {
  color: #7fdfff;
}
._text-blue {
  color: #0074d9;
}
._text-navy {
  color: #001f3f;
}
._text-teal {
  color: #39cccc;
}
._text-green {
  color: #2ecc40;
}
._text-olive {
  color: #3d9970;
}
._text-lime {
  color: #01ff70;
}
._text-yellow {
  color: #ffdc00;
}
._text-orange {
  color: #ff851b;
}
._text-red {
  color: #ff4136;
}
._text-fuchsia {
  color: #f012be;
}
._text-purple {
  color: #b10dc9;
}
._text-maroon {
  color: #85144b;
}
._text-white {
  color: #fff;
}
._text-silver {
  color: #f2f2f2;
}
._text-darksilver {
  color: #d1d1d1;
}
._text-gray {
  color: #aaa;
}
._text-lightgray {
  color: #ccc;
}
._text-concrete {
  color: #1d1d1e;
}
._text-asphalt {
  color: #3b3b3b;
}
._text-black {
  color: #111;
}
._font-black {
  font-weight: 900;
}
._font-bold {
  font-weight: bold;
}
._font-normal {
  font-weight: normal;
}
._font-light {
  font-weight: 300;
}
._font-thin {
  font-weight: 100;
}
._font-italic {
  font-style: italic;
}
._text-center {
  text-align: center;
}
._text-left {
  text-align: left;
}
._text-right {
  text-align: right;
}
._text-muted {
  color: rgba(255,255,255,0.5);
}
.text-muted {
  color: rgba(255,255,255,0.5) !important;
}
._pull-right {
  float: right;
  zoom: 1;
}
._pull-right:before,
._pull-right:after {
  content: "";
  display: table;
}
._pull-right:after {
  clear: both;
}
._pull-left {
  float: left;
  zoom: 1;
}
._pull-left:before,
._pull-left:after {
  content: "";
  display: table;
}
._pull-left:after {
  clear: both;
}
selection {
  background: $concrete;
  color: $white;
}
-moz-selection {
  color: $white;
  background: $concrete;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small,
.h1 > small,
.h2 > small,
.h3 > small,
.h4 > small,
.h5 > small,
.h6 > small {
  font-size: 60%;
  color: rgba(255,255,255,0.5);
}
mark,
.mark {
  background: rgba(255,255,255,0.5);
}
blockquote,
.blockquote {
  border-left: 2px solid transparent;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
}
blockquote.-right,
.blockquote.-right {
  border-left: 0px solid transparent;
  border-right: 2px solid transparent;
  text-align: right;
}
blockquote.-right.-light,
.blockquote.-right.-light {
  border-right-color: rgba(255,255,255,0.5);
}
blockquote.-right.-dark,
.blockquote.-right.-dark {
  border-right-color: rgba(0,0,0,0.5);
}
blockquote.-light,
.blockquote.-light {
  border-left-color: rgba(255,255,255,0.5);
}
blockquote.-dark,
.blockquote.-dark {
  border-left-color: rgba(0,0,0,0.5);
}
blockquote footer,
.blockquote footer,
blockquote .blockquote-footer,
.blockquote .blockquote-footer {
  font-size: 1rem;
  color: rgba(255,255,255,0.5);
}
._cursor-default {
  cursor: default;
}
._cursor-pointer {
  cursor: pointer;
}
a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
code {
  color: rgba(255,255,255,0.75);
  background: rgba(0,0,0,0.5);
}
.applications-wrapper {
  display: block;
  position: absolute;
  padding-top: 70px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.applications-wrapper .row {
  zoom: 1;
  margin-bottom: 2rem;
}
.applications-wrapper .row:before,
.applications-wrapper .row:after {
  content: "";
  display: table;
}
.applications-wrapper .row:after {
  clear: both;
}
@media screen and (max-height: 450px) {
  .applications-wrapper {
    padding-top: 86px;
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
    display: block;
    margin-bottom: 3rem;
  }
  .applications-wrapper .row {
    margin-bottom: 0;
  }
  .applications-wrapper .application {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .applications-wrapper {
    padding-top: 86px;
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
    display: block;
    margin-bottom: 3rem;
    width: 100%;
  }
  .applications-wrapper .row {
    margin-bottom: 0;
  }
  .applications-wrapper .application {
    margin-bottom: 1rem;
  }
}
.application {
  position: relative;
  display: block;
  text-align: center;
  padding: 1.75rem 1rem;
  margin-right: 1rem;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top left, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
  cursor: pointer;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  -webkit-transition: background 0.33s ease;
  transition: background 0.33s ease;
}
.application > .application-image {
  margin-bottom: 0.5rem;
}
.application > .application-title {
  color: rgba(255,255,255,0.75);
}
.application:hover,
.application:focus {
  background-color: rgba(0,0,0,0.5);
  text-decoration: none;
}
.btn {
  border-radius: 0;
  background-color: transparent;
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease;
  padding: 0.75rem 2rem;
  color: rgba(255,255,255,0.95);
}
.btn.-xs {
  padding: 0.375rem 1rem;
  font-size: 0.9rem;
}
.btn.-sm {
  padding: 0.5625rem 1.5rem;
  font-size: 0.95rem;
}
.btn.-lg {
  padding: 0.9375rem 2.5rem;
  font-size: 1.05rem;
}
.btn.-xl {
  padding: 1.125rem 3rem;
  font-size: 1.1rem;
}
.btn.-wide {
  padding-left: 3rem;
  padding-right: 3rem;
}
.btn.-narrow {
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn.-block {
  display: block;
  width: 100%;
  margin: 0;
}
.btn.-hspace {
  margin-left: 1rem;
  margin-right: 1rem;
}
.btn.-hspace:first-child {
  margin-left: 0rem;
}
.btn.-vspace {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
  outline: 0;
}
.btn.-dark {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.25));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.25));
}
.btn.-dark:hover,
.btn.-dark:focus {
  background-color: rgba(0,0,0,0.25);
}
.btn.-dark:active {
  background-color: rgba(0,0,0,0.5);
}
.btn.-light {
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.15));
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.15));
}
.btn.-light:hover,
.btn.-light:focus {
  background-color: rgba(255,255,255,0.15);
}
.btn.-light:active {
  background-color: rgba(255,255,255,0.5);
}
.btn.-light {
  color: #000;
}
.btn.-light:hover,
.btn.-light:focus,
.btn.-light:active {
  color: #000;
}
.btn.-primary {
  background-image: -webkit-linear-gradient(top, rgba(232,25,67,0.8), rgba(232,25,67,0.4));
  background-image: linear-gradient(to bottom, rgba(232,25,67,0.8), rgba(232,25,67,0.4));
}
.btn.-primary:hover,
.btn.-primary:focus {
  background-color: rgba(232,25,67,0.5);
}
.btn.-primary:active {
  background-color: #8c0e28;
}
.btn.-secondary {
  background-image: -webkit-linear-gradient(top, rgba(28,10,14,0.8), rgba(28,10,14,0.4));
  background-image: linear-gradient(to bottom, rgba(28,10,14,0.8), rgba(28,10,14,0.4));
}
.btn.-secondary:hover,
.btn.-secondary:focus {
  background-color: rgba(28,10,14,0.5);
}
.btn.-secondary:active {
  background-color: #110608;
}
.btn.-success {
  background-image: -webkit-linear-gradient(top, rgba(61,153,112,0.8), rgba(61,153,112,0.4));
  background-image: linear-gradient(to bottom, rgba(61,153,112,0.8), rgba(61,153,112,0.4));
}
.btn.-success:hover,
.btn.-success:focus {
  background-color: rgba(61,153,112,0.5);
}
.btn.-success:active {
  background-color: #255c43;
}
.btn.-danger {
  background-image: -webkit-linear-gradient(top, rgba(255,65,54,0.8), rgba(255,65,54,0.4));
  background-image: linear-gradient(to bottom, rgba(255,65,54,0.8), rgba(255,65,54,0.4));
}
.btn.-danger:hover,
.btn.-danger:focus {
  background-color: rgba(255,65,54,0.5);
}
.btn.-danger:active {
  background-color: #b90a00;
}
.btn.-warning {
  background-image: -webkit-linear-gradient(top, rgba(255,133,27,0.8), rgba(255,133,27,0.4));
  background-image: linear-gradient(to bottom, rgba(255,133,27,0.8), rgba(255,133,27,0.4));
}
.btn.-warning:hover,
.btn.-warning:focus {
  background-color: rgba(255,133,27,0.5);
}
.btn.-warning:active {
  background-color: #a94f00;
}
.btn.-info {
  background-image: -webkit-linear-gradient(top, rgba(0,116,217,0.8), rgba(0,116,217,0.4));
  background-image: linear-gradient(to bottom, rgba(0,116,217,0.8), rgba(0,116,217,0.4));
}
.btn.-info:hover,
.btn.-info:focus {
  background-color: rgba(0,116,217,0.5);
}
.btn.-info:active {
  background-color: #004682;
}
.btn.-facebook {
  background-image: -webkit-linear-gradient(top, rgba(59,89,152,0.8), rgba(59,89,152,0.5));
  background-image: linear-gradient(to bottom, rgba(59,89,152,0.8), rgba(59,89,152,0.5));
}
.btn.-facebook:hover,
.btn.-facebook:focus {
  background-color: rgba(59,89,152,0.5);
}
.btn.-facebook:active {
  background-color: #23355b;
}
.btn.-twitter {
  background-image: -webkit-linear-gradient(top, rgba(29,161,242,0.8), rgba(29,161,242,0.5));
  background-image: linear-gradient(to bottom, rgba(29,161,242,0.8), rgba(29,161,242,0.5));
}
.btn.-twitter:hover,
.btn.-twitter:focus {
  background-color: rgba(29,161,242,0.5);
}
.btn.-twitter:active {
  background-color: #09639a;
}
.btn.-google-plus {
  background-image: -webkit-linear-gradient(top, rgba(221,75,57,0.8), rgba(221,75,57,0.5));
  background-image: linear-gradient(to bottom, rgba(221,75,57,0.8), rgba(221,75,57,0.5));
}
.btn.-google-plus:hover,
.btn.-google-plus:focus {
  background-color: rgba(221,75,57,0.5);
}
.btn.-google-plus:active {
  background-color: #8e2518;
}
.btn.-dribbble {
  background-image: -webkit-linear-gradient(top, rgba(234,76,137,0.8), rgba(234,76,137,0.5));
  background-image: linear-gradient(to bottom, rgba(234,76,137,0.8), rgba(234,76,137,0.5));
}
.btn.-dribbble:hover,
.btn.-dribbble:focus {
  background-color: rgba(234,76,137,0.5);
}
.btn.-dribbble:active {
  background-color: #a6144c;
}
.btn.-behance {
  background-image: -webkit-linear-gradient(top, rgba(23,105,255,0.8), rgba(23,105,255,0.5));
  background-image: linear-gradient(to bottom, rgba(23,105,255,0.8), rgba(23,105,255,0.5));
}
.btn.-behance:hover,
.btn.-behance:focus {
  background-color: rgba(23,105,255,0.5);
}
.btn.-behance:active {
  background-color: #003ba7;
}
.btn.-flickr {
  background-image: -webkit-linear-gradient(top, rgba(255,0,132,0.8), rgba(255,0,132,0.5));
  background-image: linear-gradient(to bottom, rgba(255,0,132,0.8), rgba(255,0,132,0.5));
}
.btn.-flickr:hover,
.btn.-flickr:focus {
  background-color: rgba(255,0,132,0.5);
}
.btn.-flickr:active {
  background-color: #99004f;
}
.btn.-linkedin {
  background-image: -webkit-linear-gradient(top, rgba(0,119,181,0.8), rgba(0,119,181,0.5));
  background-image: linear-gradient(to bottom, rgba(0,119,181,0.8), rgba(0,119,181,0.5));
}
.btn.-linkedin:hover,
.btn.-linkedin:focus {
  background-color: rgba(0,119,181,0.5);
}
.btn.-linkedin:active {
  background-color: #00476d;
}
.btn.-youtube {
  background-image: -webkit-linear-gradient(top, rgba(205,32,31,0.8), rgba(205,32,31,0.5));
  background-image: linear-gradient(to bottom, rgba(205,32,31,0.8), rgba(205,32,31,0.5));
}
.btn.-youtube:hover,
.btn.-youtube:focus {
  background-color: rgba(205,32,31,0.5);
}
.btn.-youtube:active {
  background-color: #7b1313;
}
.btn.-pinterest {
  background-image: -webkit-linear-gradient(top, rgba(189,8,28,0.8), rgba(189,8,28,0.5));
  background-image: linear-gradient(to bottom, rgba(189,8,28,0.8), rgba(189,8,28,0.5));
}
.btn.-pinterest:hover,
.btn.-pinterest:focus {
  background-color: rgba(189,8,28,0.5);
}
.btn.-pinterest:active {
  background-color: #710511;
}
.btn.-github {
  background-image: -webkit-linear-gradient(top, rgba(51,51,51,0.8), rgba(51,51,51,0.5));
  background-image: linear-gradient(to bottom, rgba(51,51,51,0.8), rgba(51,51,51,0.5));
}
.btn.-github:hover,
.btn.-github:focus {
  background-color: rgba(51,51,51,0.5);
}
.btn.-github:active {
  background-color: #1f1f1f;
}
.btn.-tumblr {
  background-image: -webkit-linear-gradient(top, rgba(53,70,92,0.8), rgba(53,70,92,0.5));
  background-image: linear-gradient(to bottom, rgba(53,70,92,0.8), rgba(53,70,92,0.5));
}
.btn.-tumblr:hover,
.btn.-tumblr:focus {
  background-color: rgba(53,70,92,0.5);
}
.btn.-tumblr:active {
  background-color: #202a37;
}
.btn.-twitch {
  background-image: -webkit-linear-gradient(top, rgba(100,65,165,0.8), rgba(100,65,165,0.5));
  background-image: linear-gradient(to bottom, rgba(100,65,165,0.8), rgba(100,65,165,0.5));
}
.btn.-twitch:hover,
.btn.-twitch:focus {
  background-color: rgba(100,65,165,0.5);
}
.btn.-twitch:active {
  background-color: #3c2763;
}
.btn.-envato {
  background-image: -webkit-linear-gradient(top, rgba(130,181,65,0.8), rgba(130,181,65,0.5));
  background-image: linear-gradient(to bottom, rgba(130,181,65,0.8), rgba(130,181,65,0.5));
}
.btn.-envato:hover,
.btn.-envato:focus {
  background-color: rgba(130,181,65,0.5);
}
.btn.-envato:active {
  background-color: #4e6d27;
}
.error-section {
  text-align: center;
}
.error-section .error-content {
  display: block;
  z-index: 1;
  position: relative;
}
.error-section .error-title {
  font-weight: 100;
  font-size: 5rem;
  display: block;
  position: relative;
  margin: 0 auto;
}
.error-section .error-description {
  font-weight: 300;
  font-size: 1.5rem;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.error-section .error-icon {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -5rem;
  font-size: 20rem;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  z-index: 0;
}
.error-section .btn {
  z-index: 1;
  margin-top: 3rem;
}
form,
.form {
  box-sizing: border-box;
}
form legend,
.form legend {
  font-size: 1.25rem;
  font-weight: 300;
}
@media screen and (max-width: 575px) {
  form,
  .form {
    padding: 1rem;
  }
}
form .form-control,
.form .form-control {
  border-radius: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.75rem 1rem;
}
form .form-control.-xs,
.form .form-control.-xs {
  font-size: 80%;
  padding: 0.375rem 1rem;
}
form .form-control.-sm,
.form .form-control.-sm {
  font-size: 90%;
  padding: 0.5625rem 1rem;
}
form .form-control.-md,
.form .form-control.-md {
  padding: 0.75rem 1rem;
}
form .form-control.-lg,
.form .form-control.-lg {
  font-size: 110%;
  padding: 0.9375rem 1rem;
}
form .form-control.-xl,
.form .form-control.-xl {
  font-size: 120%;
  padding: 1.125rem 1rem;
}
form .form-check,
.form .form-check {
  margin-left: 0;
  margin-bottom: 0;
  display: inline-block;
}
form .form-check input,
.form .form-check input {
  display: none;
}
form .form-check input:checked + label::after,
.form .form-check input:checked + label::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
form .form-check label,
.form .form-check label {
  color: #fff;
  cursor: pointer;
  margin-left: 0;
  margin-bottom: 0;
}
form .form-check label::before,
.form .form-check label::before {
  font-family: 'FontAwesome';
  content: "";
  display: block;
  text-align: center;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  position: relative;
}
form .form-check label::after,
.form .form-check label::after {
  font-family: 'FontAwesome';
  content: "";
  display: block;
  text-align: center;
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(30deg) scale(0.5) translateZ(0);
  transform: rotate(30deg) scale(0.5) translateZ(0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
form .form-check.-radio label::before,
.form .form-check.-radio label::before {
  border-radius: 100%;
}
form .form-check.-radio label::after,
.form .form-check.-radio label::after {
  content: "\f111";
}
form .form-check.-checkbox label::before,
.form .form-check.-checkbox label::before {
  border-radius: 2px;
}
form .form-check.-checkbox label::after,
.form .form-check.-checkbox label::after {
  content: "\f00c";
}
form .help-block,
.form .help-block {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: rgba(255,255,255,0.5);
}
form .form-control,
.form .form-control,
form .form-check label::before,
.form .form-check label::before {
  color: #fff;
  border-color: rgba(0,0,0,0.125);
  background-color: rgba(0,0,0,0);
  background-image: -webkit-linear-gradient(top left, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
}
form .form-control:disabled,
.form .form-control:disabled,
form .form-check label::before:disabled,
.form .form-check label::before:disabled {
  background-color: rgba(255,255,255,0.25);
}
form .form-control:active,
.form .form-control:active,
form .form-control:focus,
.form .form-control:focus {
  background-color: rgba(0,0,0,0.125);
}
form .form-control::-webkit-input-placeholder,
.form .form-control::-webkit-input-placeholder {
  color: rgba(255,255,255,0.75);
}
form .form-control::-moz-placeholder,
.form .form-control::-moz-placeholder {
  color: rgba(255,255,255,0.75);
}
form .form-control:-moz-placeholder,
.form .form-control:-moz-placeholder {
  color: rgba(255,255,255,0.75);
}
form .form-control:-ms-input-placeholder,
.form .form-control:-ms-input-placeholder {
  color: rgba(255,255,255,0.75);
}
form .form-control.disabled label,
.form .form-control.disabled label,
form .form-check.disabled label,
.form .form-check.disabled label {
  color: rgba(255,255,255,0.5);
}
form .form-control.disabled label::before,
.form .form-control.disabled label::before,
form .form-check.disabled label::before,
.form .form-check.disabled label::before {
  background: -webkit-linear-gradient(top left, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
  background: linear-gradient(to bottom right, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
}
form .form-control.disabled label::after,
.form .form-control.disabled label::after,
form .form-check.disabled label::after,
.form .form-check.disabled label::after {
  color: rgba(255,255,255,0.5);
}
form .form-group.-primary label,
.form .form-group.-primary label,
form .form-group.has-primary label,
.form .form-group.has-primary label,
form .form-group.-primary .help-block,
.form .form-group.-primary .help-block,
form .form-group.has-primary .help-block,
.form .form-group.has-primary .help-block {
  color: #e81943;
}
form .form-group.-primary .form-control,
.form .form-group.-primary .form-control,
form .form-group.has-primary .form-control,
.form .form-group.has-primary .form-control,
form .form-group.-primary .form-check label::before,
.form .form-group.-primary .form-check label::before,
form .form-group.has-primary .form-check label::before,
.form .form-group.has-primary .form-check label::before {
  border-color: rgba(232,25,67,0.66);
}
form .form-group.-primary .form-control:active,
.form .form-group.-primary .form-control:active,
form .form-group.has-primary .form-control:active,
.form .form-group.has-primary .form-control:active,
form .form-group.-primary .form-check label::before:active,
.form .form-group.-primary .form-check label::before:active,
form .form-group.has-primary .form-check label::before:active,
.form .form-group.has-primary .form-check label::before:active,
form .form-group.-primary .form-control:focus,
.form .form-group.-primary .form-control:focus,
form .form-group.has-primary .form-control:focus,
.form .form-group.has-primary .form-control:focus,
form .form-group.-primary .form-check label::before:focus,
.form .form-group.-primary .form-check label::before:focus,
form .form-group.has-primary .form-check label::before:focus,
.form .form-group.has-primary .form-check label::before:focus {
  box-shadow: none;
}
form .form-group.-secondary label,
.form .form-group.-secondary label,
form .form-group.has-secondary label,
.form .form-group.has-secondary label,
form .form-group.-secondary .help-block,
.form .form-group.-secondary .help-block,
form .form-group.has-secondary .help-block,
.form .form-group.has-secondary .help-block {
  color: #1c0a0e;
}
form .form-group.-secondary .form-control,
.form .form-group.-secondary .form-control,
form .form-group.has-secondary .form-control,
.form .form-group.has-secondary .form-control,
form .form-group.-secondary .form-check label::before,
.form .form-group.-secondary .form-check label::before,
form .form-group.has-secondary .form-check label::before,
.form .form-group.has-secondary .form-check label::before {
  border-color: rgba(28,10,14,0.66);
}
form .form-group.-secondary .form-control:active,
.form .form-group.-secondary .form-control:active,
form .form-group.has-secondary .form-control:active,
.form .form-group.has-secondary .form-control:active,
form .form-group.-secondary .form-check label::before:active,
.form .form-group.-secondary .form-check label::before:active,
form .form-group.has-secondary .form-check label::before:active,
.form .form-group.has-secondary .form-check label::before:active,
form .form-group.-secondary .form-control:focus,
.form .form-group.-secondary .form-control:focus,
form .form-group.has-secondary .form-control:focus,
.form .form-group.has-secondary .form-control:focus,
form .form-group.-secondary .form-check label::before:focus,
.form .form-group.-secondary .form-check label::before:focus,
form .form-group.has-secondary .form-check label::before:focus,
.form .form-group.has-secondary .form-check label::before:focus {
  box-shadow: none;
}
form .form-group.-success label,
.form .form-group.-success label,
form .form-group.has-success label,
.form .form-group.has-success label,
form .form-group.-success .help-block,
.form .form-group.-success .help-block,
form .form-group.has-success .help-block,
.form .form-group.has-success .help-block {
  color: #3d9970;
}
form .form-group.-success .form-control,
.form .form-group.-success .form-control,
form .form-group.has-success .form-control,
.form .form-group.has-success .form-control,
form .form-group.-success .form-check label::before,
.form .form-group.-success .form-check label::before,
form .form-group.has-success .form-check label::before,
.form .form-group.has-success .form-check label::before {
  border-color: rgba(61,153,112,0.66);
}
form .form-group.-success .form-control:active,
.form .form-group.-success .form-control:active,
form .form-group.has-success .form-control:active,
.form .form-group.has-success .form-control:active,
form .form-group.-success .form-check label::before:active,
.form .form-group.-success .form-check label::before:active,
form .form-group.has-success .form-check label::before:active,
.form .form-group.has-success .form-check label::before:active,
form .form-group.-success .form-control:focus,
.form .form-group.-success .form-control:focus,
form .form-group.has-success .form-control:focus,
.form .form-group.has-success .form-control:focus,
form .form-group.-success .form-check label::before:focus,
.form .form-group.-success .form-check label::before:focus,
form .form-group.has-success .form-check label::before:focus,
.form .form-group.has-success .form-check label::before:focus {
  box-shadow: none;
}
form .form-group.-danger label,
.form .form-group.-danger label,
form .form-group.has-danger label,
.form .form-group.has-danger label,
form .form-group.-danger .help-block,
.form .form-group.-danger .help-block,
form .form-group.has-danger .help-block,
.form .form-group.has-danger .help-block {
  color: #ff4136;
}
form .form-group.-danger .form-control,
.form .form-group.-danger .form-control,
form .form-group.has-danger .form-control,
.form .form-group.has-danger .form-control,
form .form-group.-danger .form-check label::before,
.form .form-group.-danger .form-check label::before,
form .form-group.has-danger .form-check label::before,
.form .form-group.has-danger .form-check label::before {
  border-color: rgba(255,65,54,0.66);
}
form .form-group.-danger .form-control:active,
.form .form-group.-danger .form-control:active,
form .form-group.has-danger .form-control:active,
.form .form-group.has-danger .form-control:active,
form .form-group.-danger .form-check label::before:active,
.form .form-group.-danger .form-check label::before:active,
form .form-group.has-danger .form-check label::before:active,
.form .form-group.has-danger .form-check label::before:active,
form .form-group.-danger .form-control:focus,
.form .form-group.-danger .form-control:focus,
form .form-group.has-danger .form-control:focus,
.form .form-group.has-danger .form-control:focus,
form .form-group.-danger .form-check label::before:focus,
.form .form-group.-danger .form-check label::before:focus,
form .form-group.has-danger .form-check label::before:focus,
.form .form-group.has-danger .form-check label::before:focus {
  box-shadow: none;
}
form .form-group.-warning label,
.form .form-group.-warning label,
form .form-group.has-warning label,
.form .form-group.has-warning label,
form .form-group.-warning .help-block,
.form .form-group.-warning .help-block,
form .form-group.has-warning .help-block,
.form .form-group.has-warning .help-block {
  color: #ff851b;
}
form .form-group.-warning .form-control,
.form .form-group.-warning .form-control,
form .form-group.has-warning .form-control,
.form .form-group.has-warning .form-control,
form .form-group.-warning .form-check label::before,
.form .form-group.-warning .form-check label::before,
form .form-group.has-warning .form-check label::before,
.form .form-group.has-warning .form-check label::before {
  border-color: rgba(255,133,27,0.66);
}
form .form-group.-warning .form-control:active,
.form .form-group.-warning .form-control:active,
form .form-group.has-warning .form-control:active,
.form .form-group.has-warning .form-control:active,
form .form-group.-warning .form-check label::before:active,
.form .form-group.-warning .form-check label::before:active,
form .form-group.has-warning .form-check label::before:active,
.form .form-group.has-warning .form-check label::before:active,
form .form-group.-warning .form-control:focus,
.form .form-group.-warning .form-control:focus,
form .form-group.has-warning .form-control:focus,
.form .form-group.has-warning .form-control:focus,
form .form-group.-warning .form-check label::before:focus,
.form .form-group.-warning .form-check label::before:focus,
form .form-group.has-warning .form-check label::before:focus,
.form .form-group.has-warning .form-check label::before:focus {
  box-shadow: none;
}
form .form-group.-info label,
.form .form-group.-info label,
form .form-group.has-info label,
.form .form-group.has-info label,
form .form-group.-info .help-block,
.form .form-group.-info .help-block,
form .form-group.has-info .help-block,
.form .form-group.has-info .help-block {
  color: #0074d9;
}
form .form-group.-info .form-control,
.form .form-group.-info .form-control,
form .form-group.has-info .form-control,
.form .form-group.has-info .form-control,
form .form-group.-info .form-check label::before,
.form .form-group.-info .form-check label::before,
form .form-group.has-info .form-check label::before,
.form .form-group.has-info .form-check label::before {
  border-color: rgba(0,116,217,0.66);
}
form .form-group.-info .form-control:active,
.form .form-group.-info .form-control:active,
form .form-group.has-info .form-control:active,
.form .form-group.has-info .form-control:active,
form .form-group.-info .form-check label::before:active,
.form .form-group.-info .form-check label::before:active,
form .form-group.has-info .form-check label::before:active,
.form .form-group.has-info .form-check label::before:active,
form .form-group.-info .form-control:focus,
.form .form-group.-info .form-control:focus,
form .form-group.has-info .form-control:focus,
.form .form-group.has-info .form-control:focus,
form .form-group.-info .form-check label::before:focus,
.form .form-group.-info .form-check label::before:focus,
form .form-group.has-info .form-check label::before:focus,
.form .form-group.has-info .form-check label::before:focus {
  box-shadow: none;
}
form .form-side-link,
.form .form-side-link {
  float: right;
  color: rgba(255,255,255,0.5);
}
form .form-side-link:hover,
.form .form-side-link:hover,
form .form-side-link:focus,
.form .form-side-link:focus {
  color: rgba(255,255,255,0.95);
}
form .form-switch-link,
.form .form-switch-link {
  text-align: center;
  margin-top: 1rem;
}
form .form-switch-link a,
.form .form-switch-link a {
  color: rgba(255,255,255,0.5);
}
form .form-switch-link a:hover,
.form .form-switch-link a:hover,
form .form-switch-link a:focus,
.form .form-switch-link a:focus {
  color: rgba(255,255,255,0.95);
}
form .form-header,
.form .form-header {
  margin-bottom: 1rem;
}
form .form-header h1,
.form .form-header h1,
form .form-header h2,
.form .form-header h2,
form .form-header h3,
.form .form-header h3,
form .form-header h4,
.form .form-header h4,
form .form-header h5,
.form .form-header h5,
form .form-header h6,
.form .form-header h6 {
  margin-bottom: 0;
}
form .form-header p,
.form .form-header p {
  color: rgba(255,255,255,0.5);
  font-size: 1.15rem;
}
.morph-dropdown-wrapper {
  position: absolute;
  padding-top: 10px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  display: block;
  height: auto;
  bottom: 0px;
}
.morph-dropdown-wrapper.-right {
  right: 0;
}
.morph-dropdown-wrapper.-left {
  left: 0;
}
.morph-dropdown-wrapper .morph-dropdown-list {
  border-radius: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  height: 0px;
  width: 0px;
  -webkit-backdrop-filter: blur(7px);
  -moz-backdrop-filter: blur(7px);
}
.morph-dropdown-wrapper .morph-dropdown {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.morph-dropdown-wrapper .morph-dropdown.-active {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  z-index: 999;
}
.morph-dropdown-wrapper .morph-content {
  display: block;
  position: relative;
  height: auto;
  padding: 1rem;
  width: 280px;
}
.morph-dropdown-wrapper .morph-content.-gallery {
  width: 420px;
}
@media screen and (max-width: 575px) {
  .morph-dropdown-wrapper .morph-content.-gallery {
    width: 280px;
  }
}
.morph-dropdown-wrapper.-light .morph-dropdown-list {
  color: #000;
  background: rgba(255,255,255,0.75);
}
.morph-dropdown-wrapper.-dark .morph-dropdown-list {
  color: #fff;
  background: rgba(0,0,0,0.7);
}
.morph-gallery {
  display: block;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  max-height: 360px;
  overflow: auto;
  zoom: 1;
}
.morph-gallery:before,
.morph-gallery:after {
  content: "";
  display: table;
}
.morph-gallery:after {
  clear: both;
}
@media screen and (max-width: 575px) {
  .morph-gallery {
    max-height: 150px;
  }
}
.morph-gallery.-three li {
  width: 129.33333333333334px;
}
.morph-gallery li {
  position: relative;
  display: block;
  float: left;
  width: 97px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 575px) {
  .morph-gallery li {
    width: 50%;
  }
}
.morph-gallery li:hover,
.morph-gallery li:active,
.morph-gallery li:focus {
  background: rgba(255,255,255,0.075);
}
.morph-gallery li a {
  font-size: 0.9rem;
  position: relative;
  display: block;
  border-radius: 2px;
  padding: 1rem 0;
}
.morph-gallery li img {
  margin: 0 auto;
  width: 60%;
  display: block;
}
.morph-gallery li i {
  position: relative;
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.morph-links {
  display: block;
  list-style: none;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 0;
  background: rgba(0,0,0,0.125);
  zoom: 1;
}
.morph-links:before,
.morph-links:after {
  content: "";
  display: table;
}
.morph-links:after {
  clear: both;
}
.morph-links.-small li {
  font-size: 0.9rem;
}
.morph-links li {
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.morph-links li small {
  display: block;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.morph-links li:last-child {
  border-bottom: 0;
}
.morph-links li a {
  padding: 0.75rem;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.morph-links li:hover,
.morph-links li:focus,
.morph-links li:active {
  background: rgba(255,255,255,0.075);
}
.morph-links li img {
  float: left;
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.navbar {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  z-index: 9999;
  width: 100%;
  height: 70px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
@media screen and (max-width: 991px) {
  .navbar {
    height: auto;
  }
}
.navbar.-fixed-top,
.navbar.-fixed-bottom {
  position: fixed;
  left: 0;
}
.navbar.-fixed-top {
  top: 0;
}
.navbar.-fixed-bottom {
  bottom: 0;
}
.navbar .navbar-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  zoom: 1;
}
.navbar .navbar-wrapper:before,
.navbar .navbar-wrapper:after {
  content: "";
  display: table;
}
.navbar .navbar-wrapper:after {
  clear: both;
}
.navbar .navbar-brand {
  padding: 0 1rem;
  width: 280px;
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
  line-height: 70px;
  margin: 0;
  z-index: 99;
  display: block;
  float: left;
  clear: both;
  -webkit-transition: background-position 0.5s ease;
  transition: background-position 0.5s ease;
  background-size: 420px 1px;
  background-position: -140px;
}
@media screen and (max-width: 767px) {
  .navbar .navbar-brand {
    width: 210px;
  }
}
@media screen and (max-width: 575px) {
  .navbar .navbar-brand {
    width: 140px;
  }
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active {
  background-position: 0;
}
.navbar .navbar-brand img {
  height: 28px;
  width: auto;
}
@media screen and (max-width: 575px) {
  .navbar .navbar-brand img {
    margin-top: -10px;
    height: 23.333333333333332px;
  }
}
.navbar .navbar-nav {
  position: relative;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.navbar .navbar-nav.-right {
  float: right;
}
.navbar .navbar-nav.-left {
  float: left;
}
@media screen and (max-width: 991px) {
  .navbar .navbar-nav {
    margin: 0;
  }
}
@media screen and (max-width: 575px) {
  .navbar .navbar-nav {
    float: left;
  }
}
.navbar .navbar-nav > li {
  text-align: center;
  display: block;
  float: left;
}
.navbar .navbar-nav > li > a {
  font-size: 1.5rem;
  line-height: 70px;
  height: 70px;
  width: 70px;
  display: block;
  position: relative;
  -webkit-transition: background 0.5s ease, color 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease;
  border-left-width: 1px;
  border-left-style: solid;
}
.navbar .navbar-nav > li > a:last-child {
  border-right-width: 1px;
  border-right-style: solid;
}
.navbar .navbar-profile img {
  width: 25px;
  height: 25px;
}
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  text-decoration: none;
}
.navbar .navbar-item-count {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 2px;
  font-size: 10px;
  line-height: 10px;
  padding: 4px;
  background: #e81943;
}
.navbar.-light {
  background: rgba(255,255,255,0.25);
  background: -webkit-linear-gradient(right, rgba(255,255,255,0.25), rgba(255,255,255,0.15));
  background: linear-gradient(to left, rgba(255,255,255,0.25), rgba(255,255,255,0.15));
  border-bottom: 1px solid rgba(255,255,255,0.25);
}
.navbar.-light.-opaque .navbar-wrapper {
  background: rgba(255,255,255,0.5) !important;
}
.navbar.-light,
.navbar.-light a {
  color: #000;
}
.navbar.-light .navbar-brand {
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.15), rgba(255,255,255,0));
  background-image: linear-gradient(to right, rgba(255,255,255,0.15), rgba(255,255,255,0));
}
.navbar.-light .navbar-nav > li > a {
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0));
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(255,255,255,0));
  border-left-color: rgba(255,255,255,0.25);
  border-right-color: rgba(255,255,255,0.25);
}
.navbar.-light .navbar-nav > li > a:hover,
.navbar.-light .navbar-nav > li > a:focus,
.navbar.-light .navbar-nav > li > a:active {
  background-color: rgba(255,255,255,0.25);
}
.navbar.-light .navbar-nav > li > a.-active {
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.15), rgba(255,255,255,0.25));
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.15), rgba(255,255,255,0.25));
}
.navbar.-dark {
  background: rgba(0,0,0,0.125);
  background: -webkit-linear-gradient(right, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
  background: linear-gradient(to left, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
.navbar.-dark.-opaque .navbar-wrapper {
  background: rgba(0,0,0,0.5) !important;
}
.navbar.-dark,
.navbar.-dark a {
  color: #fff;
}
.navbar.-dark .navbar-brand {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.25), rgba(0,0,0,0));
  background-image: linear-gradient(to right, rgba(0,0,0,0.25), rgba(0,0,0,0));
}
.navbar.-dark .navbar-nav > li > a {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.125), rgba(0,0,0,0));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.125), rgba(0,0,0,0));
  border-left-color: rgba(0,0,0,0.125);
  border-right-color: rgba(0,0,0,0.125);
}
.navbar.-dark .navbar-nav > li > a:hover,
.navbar.-dark .navbar-nav > li > a:focus,
.navbar.-dark .navbar-nav > li > a:active {
  background-color: rgba(0,0,0,0.125);
}
.navbar.-dark .navbar-nav > li > a.-active {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
}
.page-header {
  margin-top: 102px;
  margin-bottom: 32px;
  text-align: center;
}
.twitter-feed {
  zoom: 1;
}
.twitter-feed:before,
.twitter-feed:after {
  content: "";
  display: table;
}
.twitter-feed:after {
  clear: both;
}
.twitter-feed > .tweet {
  float: left;
  display: block;
  width: 32%;
  margin-left: 0.65%;
  margin-right: 0.65%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .twitter-feed > .tweet {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 767px) {
  .twitter-feed > .tweet {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .twitter-feed {
    margin-bottom: 3rem;
  }
}
.tweet {
  background: rgba(0,0,0,0.25);
  background: -webkit-linear-gradient(top left, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
  background: linear-gradient(to bottom right, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
  display: block;
  position: relative;
  border-radius: 4px;
}
.tweet > .tweet-time {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(255,255,255,0.25);
}
.tweet > .tweet-user {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
.tweet > .tweet-text {
  padding: 1rem;
  min-height: 110px;
}
.tweet > .tweet-text > .tweet-entity {
  color: #1da1f2;
}
.tweet-user {
  display: block;
  font-size: 1.15rem;
}
.tweet-user .tweet-user-avatar {
  width: 1.5rem;
  margin-right: 0.5rem;
  float: left;
  border-radius: 3px;
}
.tweet-user .tweet-user-name {
  margin-right: 0.5rem;
}
.tweet-user > .tweet-user-username {
  color: #1da1f2;
  font-size: 0.85rem;
}

/*# sourceMappingURL=../../maps/application/application.css.map */
