// Application
//
// Application list design with a reusable .application component
//
// @author Alex Grozav
//

$application-item-size = 135px

applications-wrapper()
  padding-top: $navbar['height'] + 16px
  position: relative
  top: auto
  left: auto
  transform: none
  display: block
  margin-bottom: 3rem

  .row
    margin-bottom: 0

  .application
    margin-bottom: 1rem

.applications-wrapper
  display: block
  position: absolute
  padding-top: $navbar['height']
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  .row
    clearfix()
    margin-bottom: 2rem

  @media screen and (max-height: 450px)
    applications-wrapper()

  +breakpoint-down(sm)
    applications-wrapper()
    width: 100%



.application
  position: relative
  display: block
  text-align: center
  padding: 1.75rem 1rem
  margin-right: 1rem
  border-radius: 4px
  background-image: linear-gradient(to bottom right, $scheme.dark.background.light, $scheme.dark.background.lighter)
  cursor: pointer

  > .application-image
    margin-bottom: 0.5rem

  > .application-title
    color: $scheme.light.color.dark

  border-bottom-width: 5px
  border-bottom-style: solid
  border-bottom-color: transparent
  transition: background 0.33s ease

  &:hover, &:focus
    background-color: $scheme.dark.background.medium
    text-decoration: none
