// Morph Dropdown
//
// Morphing dropdown design inspired from Stripe
//
// @author Alex Grozav
//

.morph-dropdown-wrapper
  position: absolute
  padding-top: 10px
  transform: translateY(100%)
  display: block
  height: auto
  bottom: 0px
  &.-right
    right: 0
  &.-left
    left: 0

  .morph-dropdown-list
    border-radius: 3px
    display: block
    position: relative
    overflow: hidden
    height: 0px
    width: 0px
    -webkit-backdrop-filter: blur(7px)
    -moz-backdrop-filter: blur(7px)

  .morph-dropdown
    top: 0
    left: 0
    position: absolute
    display: block
    transition: all 0.5s ease
    opacity: 0
    &.-active
      opacity: 1
      z-index: 999

  .morph-content
    display: block
    position: relative
    height: auto
    padding: 1rem
    width: $sidebar['width']

    &.-gallery
      width: $sidebar['width'] * (3 / 2)

      +breakpoint-down(xs)
        width: $sidebar['width']

  for $scheme-name, $scheme-color in $morph-dropdown['schemes']
    &.-{$scheme-name} .morph-dropdown-list
      color: $scheme-color['color']
      background: $scheme-color['background']

.morph-gallery
  display: block
  list-style: none
  padding: 0
  margin-bottom: 0
  max-height: 360px
  overflow: auto
  clearfix()

  +breakpoint-down(xs)
    max-height: 150px

  &.-three li
    width: (($sidebar['width'] * (3 / 2) - 32px) / 3)

  li
    position: relative
    display: block
    float: left
    width: (($sidebar['width'] * (3 / 2) - 32px) / 4)
    text-align: center
    transition: all 0.3s ease

    +breakpoint-down(xs)
      width: 50%

    &:hover, &:active, &:focus
      background: rgba(255,255,255,0.075)

    a
      font-size: 0.9rem
      position: relative
      display: block
      border-radius: 2px
      padding: 1rem 0


    img
      margin: 0 auto
      width: 60%
      display: block

    i
      position: relative
      display: block
      font-size: 2rem
      margin-bottom: 0.5rem

.morph-links
  display: block
  list-style: none
  padding: 0
  margin-left: -1rem
  margin-right: -1rem
  margin-bottom: 0
  background: $scheme.dark.background.lighter
  clearfix()

  &.-small li
    font-size: 0.9rem

  li
    position: relative
    display: block
    border-bottom: 1px solid $scheme.dark.background.lighter
    transition: all 0.3s ease

    small
      display: block
      opacity: 0.6

    &:last-child
      border-bottom: 0
    a
      padding: 0.75rem
      display: block
      position: relative
      transition: all 0.3s ease

    &:hover, &:focus, &:active
      background: rgba(255,255,255,0.075)

    img
      float: left
      width: 2.6rem
      height: 2.6rem
      margin-right: 1rem
      margin-bottom: 0.5rem
