// Twitter
//
// Custom twitter feed design for handling the twitter API
//
// @author Alex Grozav
//

.twitter-feed
  clearfix()

  > .tweet
    float: left
    display: block
    width: 32%
    margin-left: 0.65%
    margin-right: 0.65%
    margin-bottom: 1rem

    +breakpoint(md)
      width: 48%
      margin-left: 1%
      margin-right: 1%
    +breakpoint-down(sm)
      width: 100%
      margin-left: 0
      margin-right: 0

  +breakpoint-down(sm)
    margin-bottom: 3rem

.tweet
  background: $scheme.dark.background.light
  background: linear-gradient(to bottom right, $scheme.dark.background.light, $scheme.dark.background.lighter)
  display: block
  position: relative
  border-radius: 4px

  > .tweet-time
    position: absolute
    top: 1rem
    right: 1rem
    color: $scheme.light.color.light

  > .tweet-user
    padding: $base-padding
    width: 100%
    border-bottom: 1px solid $scheme.dark.background.lighter

  > .tweet-text
    padding: $base-padding
    min-height: 110px

    > .tweet-entity
      color: $social['twitter']

.tweet-user
  display: block
  font-size: 1.15rem

  .tweet-user-avatar
    width: 1.5rem
    margin-right: 0.5rem
    float: left
    border-radius: 3px

  .tweet-user-name
    margin-right: 0.5rem

  > .tweet-user-username
    color: $social['twitter']
    font-size: 0.85rem
