// Colors
//
// Basic colors, social colors and brand colors
//
// @author Alex Grozav
//

$colors = {
  primary: #e81943
  // primary: #ff0033
  secondary: #1c0a0e
  // secondary: #cc0066

  aqua: #7fdfff
  blue: #0074d9
  navy: #001f3f
  teal: #39cccc
  green: #2ecc40
  olive: #3d9970
  lime: #01ff70
  yellow: #ffdc00
  orange: #ff851b
  red: #ff4136
  fuchsia: #f012be
  purple: #b10dc9
  maroon: #85144b

  white: #fff
  silver: #f2f2f2
  darksilver: #d1d1d1
  gray: #aaa
  lightgray: #ccc
  concrete: #1d1d1e
  asphalt: #3b3b3b
  black: #111
}

$primary = $colors['primary']
$secondary = $colors['secondary']


// Brand Colors
//
$brand = {
  primary:   $colors['primary']
  secondary: $colors['secondary']
  success:   $colors['olive']
  danger:    $colors['red']
  warning:   $colors['orange']
  info:      $colors['blue']
}


// Social Colors
//
$social = {
  facebook: #3b5998
  twitter: #1da1f2
  google-plus: #dd4b39
  dribbble: #ea4c89
  behance: #1769ff
  flickr: #ff0084
  linkedin: #0077b5
  youtube: #cd201f
  pinterest: #bd081c
  github: #333
  tumblr: #35465c
  twitch: #6441a5
  envato: #82b541
}
