// Variables
//
// Useful variables in designing the other components
//
// @author Alex Grozav
//

// Font Family
$font-family-sans-serif = "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif

// Body
//
$body-bg = $silver


// Box Model
//
$base-margin = 1rem
$base-padding = $base-margin


// Color Schemes
//
$scheme = {
  dark: {
    background: {
      transparent:  rgba(0,0,0,0.0)
      lighter:      rgba(0,0,0,0.125)
      light:        rgba(0,0,0,0.25)
      medium:       rgba(0,0,0,0.5)
      dark:         rgba(0,0,0,0.7)
      darker:       rgba(0,0,0,0.8)
      default:      rgba(0,0,0,1.0)
    }
    color: {
      transparent:  rgba(0,0,0,0.0)
      lighter:      rgba(0,0,0,0.125)
      light:        rgba(0,0,0,0.25)
      medium:       rgba(0,0,0,0.5)
      dark:         rgba(0,0,0,0.75)
      darker:       rgba(0,0,0,0.875)
      default:      rgba(0,0,0,1.0)
    }
  }

  light: {
    background: {
      transparent:  rgba(255,255,255,0.0)
      lighter:      rgba(255,255,255,0.25)
      light:        rgba(255,255,255,0.15)
      medium:       rgba(255,255,255,0.5)
      dark:         rgba(255,255,255,0.75)
      darker:       rgba(255,255,255,0.95)
      default:      rgba(255,255,255,1.0)
    }
    color: {
      transparent:  rgba(255,255,255,0.0)
      lighter:      rgba(255,255,255,0.05)
      light:        rgba(255,255,255,0.25)
      medium:       rgba(255,255,255,0.5)
      dark:         rgba(255,255,255,0.75)
      darker:       rgba(255,255,255,0.95)
      default:      rgba(255,255,255,1.0)
    }
  }
}


// Navbar
//
$navbar = {
  height: 70px
  nav: {
    margin-right: 2rem
  }
  schemes: {
    light: {
      color: $scheme.dark.color
      background: $scheme.light.background
    }
    dark: {
      color: $scheme.light.color
      background: $scheme.dark.background
    }
  }
}

// Morph Dropdown
//
$morph-dropdown = {
  schemes: {
    light: {
      color: $scheme.dark.color.default
      background: $scheme.light.background.dark
    }
    dark: {
      color: $scheme.light.color.default
      background: $scheme.dark.background.dark
    }
  }
}


// Sidebar
//
$sidebar = {
  width: 280px
  responsive-width: 60px
  link-height: 60px
  link-inner-height: 45px
  active-border-width: 5px
  schemes: {
    light: {
      color: $scheme.dark.color
      background: $scheme.light.background
    }
    dark: {
      color: $scheme.light.color
      background: $scheme.dark.background
    }
  }
}
// $sidebar['schemes']['dark']['color']['dark'] = rgba(255,255,255,0.9)
// $sidebar['schemes']['light']['color']['dark'] = rgba(0,0,0,0.9)


// Page Heading
//
$page-heading = {
  schemes: {
    light: {
      color: $scheme.dark.color
      background: $scheme.light.background
    }
    dark: {
      color: $scheme.light.color
      background: $scheme.dark.background
    }
  }
}



// Buttons
//
$button = {
  padding-vertical: 0.75rem
  padding-horizontal: 2rem
}
