// Layout
//
// Layout background and styling together with a background changer
//
// @author Alex Grozav
//

body
  background-color: $primary
  background-image: linear-gradient(to top, $primary, $secondary)
  background-repeat: no-repeat
  background-attachment: fixed
  color: $scheme.light.color.default

.background-changer
  position: fixed
  top: 0
  left: 0
  display: block
  width: 100%
  height: 100%

  for $social-name, $social-color in $social
    &.-{$social-name}
      background-image: linear-gradient(to bottom, #111111, $social-color)
    &.-{$social-name}-dark
      background-image: linear-gradient(to bottom, #111111, darken($social-color, 20%))
