// Unicorn
//
// Unique class overrides and general classes
//
// @author Alex Grozav
//

.pe
  display: inline-block
  &.-rotate-90
    transform: rotate(90deg)
  &.-rotate-180
    transform: rotate(180deg)
  &.-rotate-270
    transform: rotate(270deg)

#error-page-wrapper
#authentication-form-wrapper
  height: 100vh
  display: block
  position: relative
  padding-top: $navbar['height']
  box-sizing: border-box
  padding: 0
  margin-left: 0
  margin-right: 0

  > .col
    margin: 0 auto
    float: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    box-sizing: border-box
    padding-right: 0
    padding-left: 0

  @media screen and (max-height: 420px)
    height: auto

    > .col
      position: relative
      padding-top: $navbar['height'] + 16px
      top: auto
      left: auto
      transform: none

// Scroll reveal
.reveal
.application
.form
.tweet
  visibility: hidden

.navbar-profile img
  margin-top: -10px
